<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="/lib/controller.js"></script>
    <title>Document</title>

</head>

<!-- ! there is only one ng-app can exist -->

<body ng-app="test_app" ng-controller="test_controller">
    <div> {{ current_time | date: 'yyyy-MM-dd HH:mm:ss'}} </div>
    <br>
    <div> welcome to express -- <%= user %>
    </div>
    <br>
    <div> {{helloTo.title}} </div>
    <br>

    <!-- simple calculator -->
    <div>
        <input type="number" ng-model="param_a" ng-init="param_a=0"><br>
        <input type="number" ng-model="param_b" ng-init="param_b=0"><br>
        <button ng-click="calculate()">See answer</button>
        
        <div ng-repeat="item in calculator">
            <h2> a {{item.op}} b = {{item.result}}</h2>
        </div>
    </div>
</body>
</html>