<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/mystyle.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <script src="/lib/controller.js"></script>
    <title>Document</title>

</head>

<!-- ! there is only one ng-app can exist -->

<body ng-app="test_app" ng-controller="test_controller">
    <h2 style="text-align: center;"> {{ current_time | date: 'yyyy-MM-dd HH:mm:ss'}} </h2>
    <br>
    <!-- <div> welcome to express -- <%= user %>
    </div>
    <br>
    <div> {{helloTo.title}} </div>
    <br>

    <div>
        <h2> Simple Calculator </h2>
        <br>
        <input type="number" ng-model="param_a" ng-init="param_a=0" placeholder="a= "><br>
        <input type="number" ng-model="param_b" ng-init="param_b=0" placeholder="b= "><br>
        
        <h3 ng-repeat="item in calculator"> 
            [{{$index+1}}] a {{item.op}} b = {{item.result}}
        </h3>

    </div> -->

    <div id="plot_test"></div>
    
    <input type="text", ng-model="search" placeholder="search row" class="table-filter">
    
    <table class="flat-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>x</th>
                <th>y</th>
                <th>oxygen</th>
                <!-- <th ng-repeat="col_index in range(1,3)">{{col_index}} </th> -->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in data | filter:search">
                <td> {{item.date}} </td>
                <td> {{item.x}} </td>
                <td> {{item.y}} </td>
                <td> {{item.oxygen}} </td>
            </tr>
        </tbody>
    </table>
</body>
</html>