<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="/lib/controller.js"></script>
    <title>Document</title>

</head>

<!-- ! there is only one ng-app can exist -->

<body ng-app="test_app">
    
    <div ng-controller="test_controller"> {{ current_time | date: 'yyyy-MM-dd HH:mm:ss'}} </div>
    <br>
    <div ng-controller="test_controller"> welcome to express -- <%= user %> ( <%= ip %> ) {{helloTo.title}} </div>
    <br>
    <!-- simple calculator -->
    <div ng-controller='test_controller'>
        <input type="number" ng-model="param_a" ng-init="param_a=0"><br>
        <input type="number" ng-model="param_b" ng-init="param_b=0"><br>
        <button ng-click="calculate()">See answer</button>
        <h2>a + b = {{ result.sum }} </h2>
        <h2>a - b = {{ result.dif }} </h2>
        <h2>a * b = {{ result.mul }} </h2>
        <h2>a / b = {{ result.div }} </h2>
    </div>

    <script> start_controller(); </script>

</body>

</html>